// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$list-group-border-color: none;
$list-group-item-padding-y:  17px;
$list-group-item-padding-x:  20px;

//accordion

$accordion-bg:white;
$accordion-padding-y:                     1rem;
$accordion-padding-x:                     1.25rem;
$accordion-border-color:   none;
$accordion-border-radius: none;
$accordion-inner-border-radius: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow:  none;
$accordion-button-active-bg: white;
$accordion-button-active-color: blue;

    // Bootstrap
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-6{
    padding: 20px;
}
.fs-base{
    font-size: 1rem;
}

.sidebar{
    max-width: 250px !important;
}

.accordion-body .list-group-item{
    padding: 0.7rem !important;
}
